{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="flex-container">
        <div class="flex-main">
            <section class="episodes-section">
                <h2 class="blog-title">Legújabb epizódok</h2>
                <div class="episodes-grid">
                    {% for episode in recent_episodes %}
                        <div class="episode-card">
                            <div class="episode-thumbnail">
                                {% image episode.cover_image fill-500x500 class="thumbnail-image" %}
                            </div>
                            <div class="episode-content">
                                <p class="upload-date">{{ episode.date }}</p>
                                <a href="{% pageurl episode %}" class="episode-title">{{ episode.title }}</a>
                                <p class="episode-description">{{ episode.intro }}.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="episodes-all">
                    <a href="{% pageurl episode_index %}" class="episodes-all-link">Összes epizód</a>
                </div>
            </section>

            <section class="blog-section">
                <h2 class="blog-title">{{ page.recent_blogs_title }}</h2>
                <div class="blogs-grid">
                    {% for post in recent_blog_posts %}
                        <div class="blog-card">
                            <p class="blog-upload-date">{{ post.date }}</p>
                            <a href="{% pageurl post %}" class="blog-link">{{ post.title }}</a>
                            <p class="blog-description">{{ post.intro }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="blogs-all">
                    <a href="{% pageurl blog_index %}" class="blogs-all-link">Összes poszt</a>
                </div>
            </section>
        </div>
        {% include "includes/side_links.html" %}
    </div>
    {% include "includes/footer.html" %}
{% endblock %}
