{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/episodes.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="episodes-container">
        <h2 class="episodes-title">Összes epizód</h2>
        <div class="episodes-grid">
            <!-- Episode Card -->
            {% for post in episode_pages %}
                <div class="episode-card">
                    <div class="episode-thumbnail">
                        <a href="{% pageurl post %}">
                            {% image post.cover_image fill-500x500 class="thumbnail-image" %}
                        </a>
                    </div>
                    <div class="episode-content">
                        <p class="upload-date">{{ post.date }}</p>
                        <a href="{% pageurl post %}" class="episode-title">{{ post.title }}</a>
                        <p class="episode-description">{{ post.intro }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "includes/pagination.html" %}
    {% include "includes/footer.html" %}
{% endblock  %}