{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load episode_extras %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/single-episode.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <main class="episode-container">
        <div class="top-container">
            <div class="episode-cover">
                {% image page.cover_image original class="cover-image" %}
            </div>

            <div class="meta-container">
                <p class="episode-meta">
                    <span class="meta-highlight">{{ page.date }}</span> • 
                    <span class="meta-highlight">{{ page.duration|duration }}</span>
                </p>
                <h2 class="episode-title">{{ page.title }}</h2>
                <p class="episode-authors">
                    <span class="meta-highlight">
                        {% with authors=page.authors.all %}
                            {% if authors %}
                                {{ authors|join:", " }}
                            {% elif page.authors_old %}
                                {{ page.authors_old }}
                            {% endif %}
                        {% endwith %}
                    </span>
                </p>
            </div>
        </div>

        <div class="episode-links">
            {% if page.youtube_url %}
                <a href="{{ page.youtube_url }}" target="_blank" class="link-button youtube">YouTube</a>
            {% endif %}
            {% if page.spotify_url %}
                <a href="{{ page.spotify_url }}" target="_blank" class="link-button spotify">Spotify</a>
            {% endif %}
            {% if page.apple_podcast_url %}
                <a href="{{ page.apple_podcast_url }}" target="_blank" class="link-button apple-podcasts">Apple Podcasts</a>
            {% endif %}
            {% if page.sound_cloud_url %}
                <a href="{{ page.sound_cloud_url }}" target="_blank" class="link-button soundcloud">SoundCloud</a>
            {% endif %}
        </div>
        <hr>
        <div class="episode-body">
            {{ page.body|richtext }}
        </div>
    </main>
    {% include "includes/footer.html" %}
{% endblock %}
