{% extends "base.html" %}
{% load static %}
{% load static wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}

    <main class="main-container">
        <!-- Search Form -->
        <form action="{% url 'search' %}" method="get" class="search-form">
            <input 
                type="text" 
                name="query" 
                {% if search_query %} value="{{ search_query }}"{% endif %} 
                placeholder="pl.: Babe 2" 
                class="search-input">
            <input 
                type="submit" 
                value="Keresés" 
                class="search-button">
        </form>

        {% if search_results %}
            <!-- Search Results Info -->
            <p class="search-results-info">
                {% if search_query %} Rákerestél a <span class="highlight">“{{ search_query }}”</span> kifejezésre{% endif %}, 
                {{ search_results.paginator.count }} találat.
            </p>
            <!-- Search Results List -->
            <ul class="search-results-list">
                {% for result in search_results %}
                <li class="search-result-item">
                    <h4>
                        <a href="{% pageurl result %}" class="search-result-title">{{ result }}</a>
                    </h4>
                    {% if result.search_description %}
                    <p class="search-result-description">{{ result.search_description }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% include "includes/search-pagination.html" %}
        {% elif search_query %}
        <p class="search-results-info">Nincs találat a <span class="highlight">“{{ search_query }}”</span> kifejezésre.</p>
        {% endif %}
    </main>
{% endblock %}
