{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog-single.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}

    <main class="blog-container">
        <article class="blog-post">
            <h1 class="blog-title">{{ page.title }}</h1>
            <div class="blog-meta">
                <p>Publikálás dátuma: <span class="highlight">{{ page.date }}</span></p>
                {% with authors=page.authors.all %}
                    {% if authors %}
                        {% for author in authors %}
                            <p>Írta: <span class="highlight">{{ author.name }}</span></p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <p class="blog-intro">{{ page.intro }}</p>
            <div class="blog-body">{{ page.body|richtext }}</div>
        </article>
    </main>

    {% include "includes/footer.html" %}
{% endblock %}
