{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog-index.css' %}">
{% endblock %}
{% block body_class %}body{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="flex-container">
        <div class="flex-main">
            <section class="blog-section">
                <h2 class="blog-title">{{ page.title }}</h2>
                <div class="blogs-grid">
                    {% if blogpages %}
                        {% for post in blogpages %}
                            <div class="blog-card">
                                <p class="blog-upload-date">{{ post.date }}</p>
                                <a href="{% pageurl post %}" class="blog-link">{{ post.title }}</a>
                                <p class="blog-description">{{ post.intro }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="blog-upload-date">Nincsenek posztok feltöltve</p>
                    {% endif %}
                </div>
            </section>
        </div>
    {% include "includes/side_links.html" %}
    </div>
    {% include "includes/footer.html" %}
{% endblock %}