/* Main content */
.flex-container {
    display: flex;
    max-width: 1140px;
    justify-content: center;
    margin: 15px auto;
    min-height: 100vh;
}

.flex-main {
    flex: 2;
}

.flex-side {
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
}

@media (max-width: 1005px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-side {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

/* Blog Section */
.blog-section {
    padding: 0px 20px;
}

.blog-title {
    text-align: left;
    font-size: 1.5rem;
}

.blogs-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.blog-card {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-upload-date {
    font-size: 0.875rem;
    color: #cccccc;
    margin-bottom: 8px;
    margin-top: 8px;
}

.blog-link {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.blog-link:hover {
    color: #ff7979;
}

.blog-description {
    color: #aaa;
    margin-top: 10px;
}

.blogs-all {
    text-align: center;
    margin-top: 25px;
}

.blogs-all-link {
    color: #ff5252;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #ff5252;
    padding: 10px 15px 6px 15px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: bold;
}

.blogs-all-link:hover {
    color: #ffffff;
    border-color: #ff5252;
    background: #ff5252;
}
