{% load wagtailcore_tags navigation_tags %}

<header class="header">
    <h1 class="header-title">
        <a href="/" class="header-title-anchor">Filmbarátok Podcast</a>
    </h1>
    <button class="hamburger-menu" onclick="toggleMenu()">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
</header>

<nav class="navbar" id="navbarTag">
    {% get_site_root as site_root %}
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="{% pageurl site_root %}" class="navbar-link">{{ site_root.title }}</a>
        </li>
        {% for menuitem in site_root.get_children.live.in_menu %}
        <li class="navbar-item">
            <a href="{% pageurl menuitem %}" class="navbar-link">{{ menuitem.title }}</a>
        </li>
        {% endfor %}
        <li class="navbar-item">
            <a href="/search" class="navbar-link">Keresés</a>
        </li>
    </ul>
</nav>
