{% load wagtailcore_tags navigation_tags %}

<header class="header">
    <h1 class="header-title">Filmbarátok Podcast</h1>
</header>

<nav class="navbar">
    {% get_site_root as site_root %}
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="{% pageurl site_root %}" class="navbar-link">{{ site_root.title }}</a>
        </li>
        {% for menuitem in site_root.get_children.live.in_menu %}
        <li class="navbar-item">
            <a href="{% pageurl menuitem %}" class="navbar-link">{{ menuitem.title }}</a>
        </li>
        {% endfor %}
        <li class="navbar-item">
            <a href="/search" class="navbar-link">Keresés</a>
        </li>
    </ul>
</nav>
