{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

<!-- Pagination -->
{% if episode_pages.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if episode_pages.has_previous %}
            <a href="?page={{ episode_pages.previous_page_number }}" class="pagination-button prev">Előző</a>
        {% endif %}

        <div class="pagination-numbers">
            {% for page_num in episode_pages.paginator.page_range %}
                {% if page_num == episode_pages.number %}
                    <span class="pagination-button active">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}" class="pagination-button">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>

        {% if episode_pages.has_next %}
            <a href="?page={{ episode_pages.next_page_number }}" class="pagination-button next">Következő </a>
        {% endif %}
    </div>
{% endif %}