{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

<!-- Pagination -->
{% if search_results.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page=1" class="pagination-button prev"><<</a>
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="pagination-button"><</a>
        {% endif %}

        <div class="pagination-numbers">
            {% for page_num in search_results.adjusted_elided_pages %}
                {% if page_num == search_results.paginator.ELLIPSIS %}
                    {% comment %} <span class="pagination-button active">{{ page_num }}</span> {% endcomment %}
                {% else %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ page_num }}" 
                    class="pagination-button {% if page_num == search_results.number %}active{% endif %}"
                    >{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="pagination-button">></a>
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.paginator.num_pages }}" class="pagination-button next">>></a>
        {% endif %}
    </div>
{% endif %}
